/* CSS declarations go here */
* {
  color: white;
  margin: 0;
  font-family: helvetica;
}
html { 
  height: 100%; 
  margin: 0;
}
body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  width: 100%;

}
#map-canvas { 
  height: 100%

}

.header{
  background-color: #e76032;
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1%;
}

.itemContainer{
  height: 100%;
}
#itemSummary{ 
  margin: 2% 2%;
  height: 100%;
  
}
#itemSharing{
  background-color: #1c647b;
  margin-bottom: 1px;
  min-height: 50px;
  height: 10%;
  
  padding: 10px 0px 10px 10px;
  /* Firefox */
  display:-moz-box;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-align:center;
}
#itemSharing img{  
  margin: 0% 5px;
}

#itemSharing label{
  margin-right: 1%;
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}
#itemSharing div{
  text-align: center;
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  margin:0% 5%;

}
#itemDetails{
  background-color: #1c647b;
  padding-left: 1%;
}

#adminContainer{
  background-color: #1c647b;
}

#artNumbers{
  position: absolute;
  top:50px;
  right:20px;
  z-index: 9999;
}
#artNumbers button{
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

#noPhotosMessage{
  text-align: center;
  margin: 0px 2%;
  padding: 10%;
  height: 10%;
  color: black;
  background: rgb(244,244,244); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(244,244,244,1) 11%, rgba(183,183,183,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(11%,rgba(244,244,244,1)), color-stop(100%,rgba(183,183,183,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(244,244,244,1) 11%,rgba(183,183,183,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(244,244,244,1) 11%,rgba(183,183,183,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(244,244,244,1) 11%,rgba(183,183,183,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(244,244,244,1) 11%,rgba(183,183,183,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#b7b7b7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
