/* CSS declarations go here */
* {
  color: white;
  margin: 0;
  font-family: helvetica;
}
html { 
  height: 100%; 
  margin: 0;
}
body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 

}
#map-canvas { 
  height: 100%

}

.header{
  background-color: #e76032;
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#itemSummary{ 
  margin: 4px 4px;
  height: 100%;
  width: 98%;
}
#itemSharing{
  background-color: #1c647b;
  margin-bottom: 1px;
  height: 10%;
  padding: 10px 0px 10px 10px;
  /* Firefox */
  display:-moz-box;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-align:center;
}
#itemSharing img{  
  padding:0% 20px;
}

#itemSharing label{
  margin-right: 5%;
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;


}
#itemSharing div{
  text-align: center;
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  margin:0% 5%;


}
#itemDetails{
  background-color: #1c647b;
}

#adminContainer{
  background-color: #1c647b;
}

#artNumbers{
  position: absolute;
  top:50px;
  right:20px;
  z-index: 9999;
}
#artNumbers button{
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
}
